@font-face {
  font-family: "iconfont"; /* Project id 4719673 */
  src: url('iconfont.woff2?t=1730168547393') format('woff2'),
       url('iconfont.woff?t=1730168547393') format('woff'),
       url('iconfont.ttf?t=1730168547393') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-animal:before {
  content: "\e642";
}

.icon-animal1:before {
  content: "\e65d";
}

.icon-zhiwu1:before {
  content: "\e62e";
}

.icon-zhiwu2:before {
  content: "\e602";
}

.icon-zhiwu3:before {
  content: "\e639";
}

.icon-tengleizhiwu-:before {
  content: "\e604";
}

.icon-zhiwu4:before {
  content: "\e608";
}

.icon-dingzhijiaju:before {
  content: "\e619";
}

.icon-kechengdingzhi:before {
  content: "\e63b";
}

.icon-dingzhi:before {
  content: "\e61a";
}

.icon-weixin:before {
  content: "\e628";
}

.icon-weixin1:before {
  content: "\e65c";
}

.icon-dianhua:before {
  content: "\e671";
}

.icon-address:before {
  content: "\e60c";
}

.icon-E-mail:before {
  content: "\e630";
}

.icon-dianhua2:before {
  content: "\e674";
}

.icon-dianhua5:before {
  content: "\e60e";
}

.icon-address2:before {
  content: "\e754";
}

.icon-dianhua6:before {
  content: "\e8c3";
}

.icon-dianhua7:before {
  content: "\e60d";
}

.icon-address-outlined:before {
  content: "\e609";
}

.icon-messages:before {
  content: "\e8e3";
}

.icon-huangsetubiaozhizuomoban-39:before {
  content: "\e65a";
}

.icon-e-mail-01:before {
  content: "\e6de";
}

.icon-zhongyingwenqiehuan-yingwen:before {
  content: "\e616";
}

.icon-zhongyingwenqiehuan-zhongwen:before {
  content: "\e617";
}

